
.yellow{
    background-color: #cf392e;
    background-attachment: fixed;
    padding-bottom:60px;

}
.purple{
    /* background-image: url("../images/texture.jpg")!important; */
    background-color: #589737;
    background-attachment: fixed;

}
.jumbotron{
    background-image: url("../images/mex.jpg");
    background-size:cover;
    color: white;
    box-shadow: 2px 6px rgba(47,43,43,0.4);
    font-family: 'Playfair Display', serif;

}
.logo{
    width: 70px;
    opacity: 0.8;
}
.contnav{
    /* background-color:rgba(47,43,43,0.4);
    padding-top: 10px; */
    display: flex;
    justify-content: space-around;
    
}
.contnav a{
    text-decoration: none;
    color:white;
    padding-bottom:20px;
    background-color: rgba(47,43,43,0.4);

}

.carousel-inner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
    
}
.carousel-inner img {
    margin: auto;
    border-radius: 10%
}
.aboutus{
    display:flex;
    flex-direction: column;
    background-color: rgba(47,43,43,0.6);
    color:white;
    text-align: center;
    padding-top: 30px;
    padding-bottom:30px;
    font-family: 'Playfair Display', serif;
}
.mention{
    padding-top:50px;
    display:flex;
    justify-content:space-evenly;
}

.contactback{
    background-color:  #589737;;
    width: 100%;
}

.opac{
    background-color: #589737;
    }

    #lightbox .modal-content {
        display: inline-block;
        text-align: center;
        }
        
        #lightbox .close {
        opacity: 1;
        color: rgb(255, 255, 255);
        background-color: rgb(25, 25, 25);
        padding: 5px 8px;
        border-radius: 30px;
        border: 2px solid rgb(255, 255, 255);
        position: absolute;
        top: -15px;
        right: -55px;
        
        z-index:1032;
        }

.carte{
    font-family: 'Playfair Display', serif;
    /* color: white;
    background-color:rgba(250,237,190,0.78); */
}
.list-group-items{
    background-color: red;
}
.photosPagePhotos{
    margin-bottom: 8px;
    
    }
#photo h1{
    color:white;
    font-family: 'Playfair Display', serif;

}

.adresse{
    background-color: #589737;
    padding:20px;
    border:solid white 1px;
    border-radius:20px;
}
.social{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding:20px;
    border:solid white 1px;
    border-radius:20px;
}
.horaire{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#cf392e;
    padding:20px;
    border:solid white 1px;
    border-radius:20px;
    

}
.resto{
    font-family: 'Playfair Display', serif;
    text-align:center;
}